.main-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 1120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.title {
    width: 80%;
}
.button-wrap {}
.button-wrap button {}
.img-btn.share {}
.img-btn.save {}

.img-wrap {
    width: 100%;
    height: 480px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 8px;
    border-radius: 12px;
    overflow: hidden;
}
.img-box {
    display: flex;
    height: 100%;
    cursor: pointer;
    position: relative;
}
.img-box.center, .img-wrap .img-box.right {
    flex-direction: column;
}
.img-box.center .top, .img-wrap .img-box.right .top {
    height: 50%;
    margin-bottom: 8px;
}
.img-box.center .bottom, .img-wrap .img-box.right .bottom {
    height: 50%;
}
.img-box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    opacity: 0;
}
.img-box:hover .overlay {
    opacity: 1;
}
.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

