.cafe-list {
    /* padding-bottom:2rem; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    margin: 0;
    width: 100%;
}
.cafe {
    margin-right: 4vw;
}

.cafe-list img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 20%;
}
.cafe-list h2 {
    font-size: medium;
    font-family: 'SUIT-Regular';
}
.cafe-list p {
    font-size: small;
    color: gray;
    font-family: 'SUIT-Regular';
}
